<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=fr' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/solid.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/fontawesome.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/r-2.2.2/rg-1.1.2/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/summernote-bs4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href='~/Content/color.css' rel='stylesheet' type='text/css' />

    @if (IsSectionDefined("localCssSection"))
    {
        @RenderSection("localCssSection", false);
    }

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/common.js?v=4"></script>
    <script src="~/Scripts/datatablehelper.js"></script>
    <script src="~/Scripts/autosize.min.js"></script>
    <!--<script src="~/Scripts/purl.js"></script>-->


    @if (IsSectionDefined("localJsSection"))
    {
        @RenderSection("localJsSection", false);
    }

    <script src="~/Scripts/jquery.mask.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/r-2.2.2/rg-1.1.2/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
    <!--<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>-->
    <script src="~/Scripts/absolute.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/summernote-bs4.min.js"></script>
    <script src="~/Scripts/summernote-fr-FR.min.js"></script>
    <script src="~/Scripts/calendar/moment.min.js"></script>
    <script src="~/Scripts/calendar/moment-with-locales.js"></script>
    <script src="~/Scripts/purl.js"></script>

    <script>

        function updateSidebar() {
            console.debug($(document).width());
            if ($(document).width() < 768) {
                //$('#sidebarCollapse').removeClass("hidden");
                $('#sidebar').addClass("floating-sidebar");
                $('#sidebar').css("height", "calc(100% - " + ($('.navbar').outerHeight() + $('footer').outerHeight()) + "px)");
            }
            else {
                $('#sidebar').removeClass("active");
                //  $('#sidebarCollapse').addClass("hidden");
                $('#sidebar').removeClass("floating-sidebar");
                $('#sidebar').css("height", "");
            }
        }

        function loadStatusBtnGrp(domID, defaultID, filter, withGlobals, callback) {
            /*active = 1I inactive = 0I all = 2I*/
            var args = {};
            args.categ = filter;
            args.includeGlobals = withGlobals;
            getMethod("../api/data/GetStatus", args, function (data) {
                if (data.isSuccess) {
                    var btnGrp = $('#' + domID);
                    btnGrp.empty();
                    btnGrp.data("categ", 0);
                    /*var div = "<div class='radio radio-default radio-inline'>\
                        <input type='radio' id='inlineRadio1' value='option1' name='status'>\
                        <label for='inlineRadio1'>Inline One</label></div>";*/
                    var div = '<div class="custom-control custom-radio custom-check-color custom-control-inline"> \
                        <input type="radio" id="inlineRadio1" value="option1" name="status" class="custom-control-input"> \
                        <label class="custom-control-label" for="inlineRadio1">Inline One</label> \
                    </div>';
                    $.each(data.result, function (index, dt) {
                        if (dt.tag == "True") {
                            var newStatus = $(div);
                            newStatus.attr("id", "st_" + dt.id);//idStatut
                            if (dt.value.startsWith("<")) {//idStatut
                                newStatus.find("label").html($(dt.value));//Libelle
                                //newStatus.append($(dt.Libelle));
                            } else {
                                newStatus.find("label").text(dt.value);//Libelle
                            }
                            newStatus.find("label").attr("for", "status_" + dt.id);//idStatut
                            newStatus.find("input").attr("id", "status_" + dt.id);//idStatut
                            newStatus.find("input").val(dt.id);//idStatut
                            newStatus.addClass(dt.icon.replace(/label/g, "badge"));//css
                            if (dt.id == defaultID) {//idStatut
                                newStatus.find("input").prop("checked", true);
                            }
                            newStatus.data("dtStatus", dt);
                            btnGrp.append(newStatus);
                        }
                    });
                    if (callback && typeof (callback) === "function") { callback(data); }
                } else {
                    showBsDialog("dlgModal", "Echec", "Echec de chargement des Status<p>" + data.errorMessage + "</p>", { dialogInput: 4, dialogResult: 0 });
                }
            });
        }

        function loadEmpOptgrp(domID, defaultID, filter, includeAll, callback) {
            /*active = 1I inactive = 0I all = 2I*/

            getMethod("../api/data/GetActiveEmployees", filter, function (data) {
                if (data.isSuccess) {
                    var select;

                    if (domID.startsWith('.')) {
                        select = $(domID);
                    } else {
                        select = $('#' + domID);
                    }
                    select.find('option').remove().end();
                    var curItem = null;
                    curItem = select; //$("<optgroup label='Intervenants'>");
                    if (parseBool(includeAll)) {
                        select.append(new Option("Tous", 0));
                    }
                    $.each(data.result, function (index, dt) {
                        if (dt.SalID != defaultID) {
                            curItem.append("<option value=" + dt.IDsal + ">" + dt.Nom + " " + dt.Prenom + "</option>");
                        } else {
                            curItem.append("<option value=" + dt.IDsal + " selected='selected' >" + dt.Nom + " " + dt.Prenom + "</option>");
                        }
                        select.append(curItem);
                        select.find('option:last').data("cacheemp", dt);
                    });
                    // curItem.append("</optgroup>");
                    //select.append(curItem);
                    select.trigger("chosen:updated");

                    if (callback && typeof (callback) === "function") { callback(data); }

                } else {
                    showBsDialog("dlgModal", "Echec", "Echec de chargement des personnes<p>" + data.errorMessage + "</p>", { dialogInput: 4, dialogResult: 0 });
                }
            });
        }

        function formatPrice(lang, currency, number) {
            return new Intl.NumberFormat(lang, { style: "currency", currency }).format(number);
        }

        function reverseFormatPrice(lang, currency, money) {
            var separatorDecimal = new Intl.NumberFormat(lang, {
                style: "decimal"
            })
                .format(11.11)
                .replace(/\d/g, "");

            var separatorThousands = new Intl.NumberFormat(lang, {
                style: "decimal"
            })
                .format(1111)
                .replace(/\d/g, "");

            var symbolOnLeft = new Intl.NumberFormat(lang, {
                style: "currency",
                currency
            })
                .format(1)
                .replace(
                    new RegExp(`\\d|[${separatorDecimal}${separatorThousands}]*`, "g"),
                    ""
                );

            var stringNumber = money
                .replace(new RegExp(`[${separatorThousands}]`, "g"), "")
                .replace(separatorDecimal, ".")
                .replace(new RegExp(`[${symbolOnLeft}]`, "g"), "");

            return parseFloat(stringNumber);
        }

        function formatNumberFr(i) {
            var n = new Number(i);
            x = n.toLocaleString("fr-FR");
            return x
        }

        function formatBigNumberFr(i) {
            var n = new Intl.NumberFormat("fr-FR", { maximumSignificantDigits: 8 }).format(i);
            return n
        }

        function timeConvert(n) {
            var num = n;
            var hours = (num / 60);
            var rhours = Math.floor(hours);
            var minutes = (hours - rhours) * 60;
            var rminutes = Math.round(minutes);
            if (rminutes > 0) {
                return "(" + rhours + " h et " + rminutes + " min)";
            } else {
                return "(" + rhours + " h)";
            }
        }

        /*Chargements*/
        $(document).ready(function () {

            var user = {};
            var token = localStorage.getItem("token");
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
                headers["X-CSRF-TOKEN"] = $('meta[name="csrf-token"]').attr('content');
            }


            $.ajaxSetup({
                url: "",
                timeout: 0,
                headers: headers,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                /*xhrFields: {
                    withCredentials: true
                },*/
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //trapAjaxErrors(XMLHttpRequest, textStatus, errorThrown);
                },
                async: true
            });



            var domain_name = document.location.hostname;



            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });


            getMethod("../api/Data/GetUser", null, function (data) {
                if (data && data.isSuccess) {
                    console.debug(data);

                    $("#username").text(data.result.UserLogin);
                    $("#userrole").text(data.result.GroupName);
                    user = data.result;


                    var argsMnu = {};
                    argsMnu.categ = "MNU";
                    argsMnu.period = "A";
                    argsMnu.startdate = moment("1970-01-01").format('YYYY-MM-DDT') + '00:00Z';

                    $("#userCustomMenu").empty();
                    getMethod("../api/data/GetConfigMenu", argsMnu, function (data) {
                        if (data.isSuccess) {
                            $("#userCustomMenu").append(data.result);


                            //Aperçus Pages customs
                            var argsCms = {};
                            argsCms.categ = "PGE";
                            argsCms.period = "D";
                            argsCms.startdate = moment("1970-01-01").format('YYYY-MM-DDT') + '00:00Z';
                            getMethod("../api/data/GetConfigBindsCollection", argsCms, function (data) {

                                if (data.isSuccess) {
                                    /*var cms = JSON.parse(data.result);
                                    if (!cms) {
                                        cms = { result: [] };
                                    }*/

                                    $.each(data.result, function (index, dt) {
                                        //if (dt.OrgID.length==0 || dt.OrgID.indexOf(user.UserActiveSiteID) >= 0 || dt.OrgID.indexOf(user.UserActiveSiteID.toString()) >= 0) {
                                        // var cms = JSON.parse(dt);
                                        var clone = $("#contentsMenu").closest("li").clone();
                                        var link = clone.find("a");
                                        clone.removeClass("hidden");
                                        clone.addBack("genMenu");
                                        var bindID = dt.BindID;
                                        var binds = dt.BindID.split("-");
                                        if (binds.length == 3 || (binds.length == 4 && parseInt(binds[3]) == 1)) {

                                            link.prop("contentlinksmenu-" + dt.ID);
                                            link.prop("href", "../Home/ShowContent?ID=" + dt.ID + "&bindID=" + dt.BindID);
                                            link.attr("data-id", dt.ID);
                                            link.attr("data-bindid", dt.BindID);
                                            link.text(dt.Titre);

                                            switch (binds[1]) {
                                                case "RH":
                                                    $("#rhSubmenu").append(clone);
                                                    break;
                                                case "OGA":
                                                    $("#ctlgSubmenu").append(clone);
                                                    break;
                                                case "TAB":
                                                    $("#homeSubmenu").append(clone);
                                                    break;
                                                case "REM":
                                                    $("#pageSubmenu").append(clone);
                                                    break;
                                                case "TCB":
                                                    $("#ctlgTelSubmenu").append(clone);
                                                    break;
                                            }

                                        }

                                    });
                                }

                            });


                        }

                    });


                }
            });

            if (typeof localPageInit == 'function') {

                if (!domain_name.startsWith("pandora")) {
                    //Swal.close();

                    loadCssFile("../Content/" + domain_name + ".css");
                    // Swal.close();
                    localPageInit(user);
                } else {
                    //Swal.close();
                    localPageInit(user);
                }

                $("@ViewBag.Message").closest("li").addClass("active");

            }


            function loadSamples(id, callback) {
                var args = { id: id };
                return getMethod("../API/Values/GetSample", args, function (result) {
                    alert(result);
                    if (callback && typeof (callback) === 'function') { callback(result); }
                });
            }


            $(window).resize(function () {
                updateSidebar();
            });
            $(window).resize();

            $('#sidebarCollapse').click();
        }
        );

    </script>

</head>
<body class="md-skin">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-nav-scroll">
        <div class="pr-4" href="#">
            <button type="button" id="sidebarCollapse" class="btn btn-sm btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
        </div>



        <!--<a class="group navbar-brand navbar-brand-logo" href="#">
            <img src="~/media/logo_champeau_white.png" height="52" class="d-inline-block align-top  rounded " alt="Logo Champeau" style="width:auto;max-height:52px;background-color:white">
        </a>-->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Intranet<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 hidden d-none">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav flex-row ml-md-auto  d-md-flex">
                <li class="nav-item">
                    <a class="nav-link p-2" href="../Home/UserProfile" rel="noopener" aria-label="Slack">
                        <i class="fas fa-sliders-h"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="site navbar-brand navbar-brand-logo" href="../Home/RedirectAlternativeSite" id="selectsite">
                        <img src="~/media/logo_champeau_white.png" height="52" class="d-inline-block align-top  rounded " alt="Logo Champeau" style="width:auto;max-height:52px;background-color:white">
                    </a>
                </li>
                <li class="nav-item">
                    <a id="logout" class="nav-link p-2" href="../Home/LogOut" rel="noopener" aria-label="Slack">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>


        </div>
    </nav>


    <!-- Begin page content -->
    <main role="main" class="">
        <div class="wrapper">



            <div id="sidebar-other"></div>

            <!-- Page Content  -->
            <div id="content" class="container-fluid">

                <div class="row">
                    <div class="dashboard-header col-lg-12 ">
                        <div class="row hidden">
                            <div class="col pt-2 pl-5">
                                <h2><i class="fa fa-th-large rotate25"></i>&nbsp;&nbsp;<span id="username_main">Tableaux de Bord</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 pt-3">

                        @RenderBody()

                    </div>
                </div>

            </div>
        </div>



    </main>


    <!-- Footer -->
    <footer class="footer font-small">
        <div class="fluid-container">
            <div class="text-right pr-3"><span class="text-muted">Intranet V @typeof(OskalaAbo.WebApiApplication).Assembly.GetName().Version</span></div>

        </div>

    </footer>



    <!--Boite de dialogue-->
    <div id="dlgModal" class="modal animated pulse" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bk-xlight-alpha">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <img alt="dlg" src="../media/failurex48.png" class="modal-icon  pull-left ui-icon-circular-border" /><p style="margin-top:10px;padding-left: 60px">One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fs active btn-md  btn-ok" data-result="1" data-dismiss="modal" data-target="#dlgModal">Ok</button>
                    <button type="button" class="btn btn-fs active btn-md btn-yes" data-result="1" data-dismiss="modal" data-target="#dlgModal">Oui</button>
                    <button type="button" class="btn btn-fs btn-md btn-no" data-result="0" data-dismiss="modal" data-target="#dlgModal">Non</button>
                    <button type="button" class="btn btn-default btn-cancel" data-result="-1" data-dismiss="modal" data-target="#dlgModal">Fermer</button>
                </div>
            </div>
        </div>
    </div>




    <!--Boite de dialogue Site-->
    <div id="dlgModalSite" class="modal animated pulse" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="padding-top:5%; overflow-y:visible;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bk-xlight-alpha">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body padding-bottom-tiny">

                    <div class="modal-icon d-inline-block" style="font-size:48px">
                        <i class="fas fa-building"></i>
                    </div>

                    <p class="d-inline-block" style="font-size:16px;margin-top:10px;vertical-align:top">></p>



                    <div class="row no-margin padding-left-tiny padding-right-tiny">
                        <!--<i class="fa fa-envelope fa-3x"></i>-->
                        <div class="col-lg-12">
                            <div id="sites" class="files-container2">
                                <div id="aupdActSitesLst" class="">

                                </div>

                            </div>
                        </div>
                    </div>
                    <br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-result="-1" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>





</body>
</html>
